<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charaset="utf-8">
        <meta name="description" content="htmlの説明文">
        <!-- ビューポートの幅をデバイスの幅と同じにし、初期のズームレベルを1に設定することを指定 -->
        <!-- 、異なる画面サイズを持つさまざまなデバイスでWebページが正しく表示される -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- webアイコンを指定 -->
        <link rel="icon" type="image/x-icon" href="static/ico/cook_hat.ico">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='front_style.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='front_style.css') }}">
    </head>

    <body>
        <header id="header" class="wrapper">
            <!-- alt属性：画像が表示されない場合の代わりのテキスト -->
            <h1 class="site-title">
                <a href="front.html">
                    <img src="static/ico/cook_hat.ico" alt="CookingGPT" style="width: 32px; height: 32px;">
                </a>
            </h1>
            <!-- ナビゲーションメニュー -->
            <nav>
                <!-- リスト形式で表示 -->
                <ul>
                    <li><a href="#How2use">How to use</a></li>
                    <li><a href="/home">use</a></li>
                    <li><a href="#Developer">Developer</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div id="mainvisiual">
                <!-- <img src="../images/mainvisual.png" alt="メインビジュアル"> -->
                <img src="static/images/None.png" alt="No Image">
                <img src="static/images/logo.png" alt="logo">
                <img src="static/images/For_you.png" alt="For you">
                <img src="static/images/None.png" alt="No Image">
            </div>
            <section id="How2use">
                <div class="text">
                    <h1>
                        <span class="en">How to use</span><br>
                        <span class="ja">使い方</span>
                    </h1>
                    <p>Cooking-GPTの使い方を説明します</p>
                    <ol>
                      <li>手順 1: サイト右上のuseもしくは<a href="/home">こちら</a>をクリック</li>
                      <img src="static/images/where_use.png" alt="No image">
                      <li>手順 2: 表示する料理数を選択(最大5個)</li>
                      <img src="static/images/num_choice.png" alt="No image">
                      <li>手順 3: ファイルを選択</li>
                      <img src="static/images/img_choice.png" alt="No image">
                      <li>手順 3: uploadを選択</li>
                      <img src="static/images/upload_bottan.png" alt="No image">
                      <li>手順 4: Wait a few sec</li>
                      <img src="static/images/loading.gif" alt="No image" sytle="mergin-bottom: 10px; mergin-top: 20px;">
                      <li>手順 5: result画面が表示されます</li>
                      <img src="static/images/result.png" alt="No image">
                    </ol>
                </div>
            <section id="Developer" class="wrapper">
                <h1 class="section-title">Developer</h1>
                <div class="content">                      
                        <div class="item">
                          <img src="static/images/higashi_profile.png" alt="No Image">
                          <div class="text">
                            <a href="https://github.com/higash1">
                                <h3 class="content-title">DAIJIRO HIGASHI</h3>
                            </a>
                            <p>ニート生活30年目</p>
                          </div>
                        </div>
                        <div class="item">
                          <img src="static/images/tokuda_profile.png" alt="No Image">
                          <div class="text">
                            <a href="https://github.com/mutokuda">
                                <h3 class="content-title">KOSUKE TOKUDA</h3>
                            </a>
                            <p>睡眠は甘え</p>
                          </div>
                        </div>
                        <div class="item">
                            <img src="static/images/yabashi_profile.png" alt="No Image">
                            <div class="text">
                                    <a href="https://github.com/yabashikazuya">
                                        <h3 class="content-title">KAZUYA YABASHI</h3>
                                    </a>
                                <p>労基に駆け込みたい</p>
                            </div>
                        </div>
                      </div>                
                </div>
        </main>
    <footer id="footer">
        <p>&copy; 2023 Profile</p>
    </footer>
</body>